body{
  background:bisque;
}

.Maindiv
{
  background: aqua;

  border-radius: 5%;
  display: flex;
  background-image: url(Tulips.jpg);

}
.static
{
   background:skyblue;
   margin:5%;
   border-radius: 3%;
   box-shadow: 3px 3px 3px 3px lightgreen;
   text-align: center;
   position: fixed;
   width:30%;
   margin-left:3%;
   height:65%;

}
.subdiv{
  background:grey;
  margin:5%;
  border-radius: 3%;
  box-shadow: 3px 3px 3px 3px lightgreen;
  margin-left: 36%;
  width:60%;
  padding:1%;
}

img{
  margin:3%;
  height:50%;
  width:50%;
}
@media screen and (min-width:320px) and (max-width:480px){
  body{
    background:bisque;
  }
  .Maindiv{
    background-color:lightgreen;
    margin:0%;
    border-radius:3%;
    height:100%;
    width:100%;
    display:inline-block;
  }
  .static{
    background-color:cyan;
    border-radius:5%;
    margin-left: 3%;
    box-shadow:4px 4px 4px 4px;
    text-align:center;
    width:90%;
    position: relative;
    margin-top:3%;
    height:65%;
  }
  .subdiv{
    background:lightyellow;
    margin-top:15%;
    margin-left:3%;
    border-radius:5%;
    box-shadow: 4px 4px 4px 4px;
    width:90%;
   }
  img{
    margin:3%;
    height:30%;
    width:30%;

}
  }
  @media screen and (min-width:481px) and (max-width:780px) {
    body{
      background-color:yellow;
    }
    .Maindiv{
      background-color:lightgreen;
      margin:0%;
      border-radius:3%;
      display:flex;

      width:100%;

    }
    .static{
      background-color:cyan;
      margin-left: 3%;
      position:fixed;
      border-radius:5%;
      box-shadow:4px 4px 4px 4px;
      text-align:center;
      width:30%;
      height:70%;
      position: relative;
    }
     .subdiv{
       background:antiquewhite;
       margin:2%;
       border-radius:5%;
       box-shadow: 4px 4px 4px 4px;
       margin-left: 10%;
       width:60%;
     }

    img{
      margin:3%;
      height:50%;
      width:50%;

    }
  }
